<!-- Hero text box -->

       <div class="row hero-text-box">
             <h1>Bored of being Bored?!!!!<br>There’s no time to be bored in a world as beautiful as this.</h1>
             <a class="btn btn-full js--scroll-to-play" href="#">Explore</a>
             <a class="btn btn-ghost js--scroll-to-howto" href="#">Show me more</a>
        </div>
    
