<!-- Index Section -->
{{> _heroText}}
        <section role="section" class="features js--section-features" id="categories">
          <div class="row">
            <h2>Curiosity cures boredom.</h2>
            <p class="long-copy">
              Get rid of boredom with riddles, games or crafts.
            </p>
          </div>

          <div class="row category-box js--wp-1">
            <div class="col span-1-of-3 categories">
              <div class="categories-names">
              <i class="icon ion-md-cog icon-big box"></i>
              <h3>Riddles</h3>
              </div>
              <p>Your own collection of Hard, Easy and Brain Teasing Riddles</p>
                <p>*** Explore by signing up. ***</p>
            </div>

            <div class="col span-1-of-3 categories">
              <div class="categories-names">
              <i class="icon ion-md-cube icon-big box"></i>
              <h3>Games</h3>
              </div>
              <p>Your own collection of Fun, Logic and Classic Games</p>
              <p>*** For Future Releases ***</p>
            </div>

            <div class="col span-1-of-3 categories">
              <div class="categories-names">
              <i class="icon ion-md-cut icon-big box"></i>
              <h3>Crafts</h3>
              </div>
              <p>Your own collection of Quick and Easy DIY Crafts</p>
              <p>*** For Future Releases ***</p>
            </div>

          </div>
        </section>

        <section class="section-steps js--section-steps" id="works">
          <div class="row">
            <h2>How it works &mdash; Simple as 1, 2, 3</h2>
          </div>
          <div class="row">
            <div class="col span-1-of-2 steps-box">
              <img src="/img/boredOnMacbookpro13_front.png" alt="Bored App on MacPro" class="app-screen js--wp-2">
            </div>
            <div class="col span-1-of-2 steps-box">
                <div class="works-step">
                  <div>1</div>
                  <p>Choose to play on any device of your liking.</p>
                </div>
                <div class="works-step">
                  <div>2</div>
                  <p>Select from one of the categories. Add, delete/update categories.</p>
                </div>
                <div class="works-step">
                  <div>3</div>
                  <p>Start playing and get rid of your boredom.</p>
                </div>
                <a href="#" class="btn-app"><img src="/img/download-app-android.png" alt="Play Store Button"></a>
                <a href="#" class="btn-app"><img src="/img/download-app.svg" alt="App Store Button"></a>
            </div>
          </div>
        </section>
